* {
    background-color: aliceblue;
}
.header {
    display:flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}
.header-left {
    padding:10px;
}

.header-right {
    padding: 10px;
}