@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400 700;
  font-display: optional;
  src: url(//fonts.gstatic.com/s/googlesans/v29/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
}
.header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  margin: 12px;
  margin-left: 35px;
  margin-right: 35px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.header-left {
  padding: 10px;
}
#store {
  padding: 20px;
}

.header-right {
  display: flex;
  align-items: center;
}

.right-corner {
  display: flex;
}
#gmail,
#google-images {
  font-size: 13px;
}
#gmail {
  padding: 20px;
}
#apps-icon {
  margin-left: 30px;
  margin-top: 5px;
}
#apps-icon:hover {
  cursor: pointer;
}
#signin {
  color: white;
  font-size: 14px;
  background-color: rgb(87, 87, 255);
  border-style: none;
  border-radius: 4px;
  height: 35px;
  width: 97px;
  margin-left: 28px;
  margin-right: 10px;
}
#signin:hover {
  background-color: rgb(55, 55, 209);
  cursor: pointer;
  box-shadow: gray 2px 2px 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#logo {
  height: 100px;
}
#logo:hover {
  cursor: pointer;
}

#search-bar {
  background: url(img/search-icon.png) no-repeat scroll 7px 7px;
  border-radius: 30px;
  border: 1px solid rgb(226, 226, 226);
  height: 40px;
  width: 600px;
  display: grid;
  padding-left: 40px;
  align-content: center;
}

#search-bar:hover {
  box-shadow: rgb(197, 197, 197) 1px 2px 5px;
}
#search-bar:focus {
  border: 1px solid rgb(226, 226, 226);
}

#google-search {
  margin-right: 10px;
}
#google-search,
#lucky {
  font-size: 14px;
  border-style: none;
  background-color: rgb(247, 246, 246);
  color: rgb(71, 71, 71);
  height: 35px;
  width: 135px;
  border-radius: 3px;
  margin-top: 10px;
}
#google-search:hover,
#lucky:hover {
  border: 1px solid rgb(187, 187, 187);
  box-shadow: rgb(228, 228, 228) 1px 1px 1px;
}
#ad-link {
  color: blue;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
#ad-link:hover {
  text-decoration: underline;
}
#ad {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: 3px;
}
.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin: 0px;
}
#leaf-img {
  height: 15px;
  margin-right: 8px;
}
.footer-div {
  background-color: rgb(240, 237, 237);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(105, 104, 104);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  padding: 10px;
}

.footer-links {
  background-color: rgb(240, 237, 237);
  width: 100%;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgba(128, 128, 128, 0.637);
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0px;
  gap: 35px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.left-link {
  margin-right: 25px;
}
.right-link {
  margin-left: 25px;
}
