* {
    background-color: aliceblue;
}
.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
.header-left {
    padding:10px;
}

.header-right {
    padding: 10px;
}

#signin {
    color: white;
    background-color: blue;
    border-style: none;
    border-radius: 7px;
    height: 50px;
    width: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#search-bar {
    border-radius: 30px;
    border: 1px solid rgb(226, 226, 226);
    height: 50px;
    width: 400px;
}