* {
    background-color: rgb(255, 255, 255);
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.header-left {
    padding:10px;
    gap:30px;
}

.header-right {
    padding: 10px;
}

#signin {
    color: white;
    font-size: 14px;
    background-color: rgb(87, 87, 255);
    border-style: none;
    border-radius: 4px;
    height: 35px;
    width: 100px;
}
#signin:hover {
    background-color: rgb(55, 55, 209);
    cursor: pointer;
    box-shadow: gray 2px 2px 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#logo {
    height: 100px;
}
#search-bar {
    border-radius: 30px;
    border: 1px solid rgb(226, 226, 226);
    height: 50px;
    width: 400px;
}

#google-search,
#lucky {
    border-style: none;
    background-color: rgb(247, 246, 246);
    height: 40px;
    width:150px;
    border-radius: 7px;
}
#google-search:hover, 
#lucky:hover {
    border: 1px solid rgb(187, 187, 187);
    box-shadow: rgb(228, 228, 228) 1px 1px 1px;
}
#footer{
    
}
.footer-div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:rgb(105, 104, 104);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:50px;
}


.footer-links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:gray;
    display: flex;
    justify-content:space-evenly;
    position: absolute;
    bottom: 20px;
    gap:35px;
}